.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full screen height or adjust as needed */
    width: 100%;
}

.spinner {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}